<<<<<<< HEAD
=======
body {
    background: #1b1b1b;
    color: #fafafa;
    min-height: 100vh !important;
    overflow: visible !important;
}

#root {
    background: #1b1b1b;
    min-height: 100%;
}

.navbar {
    background: #101010;
}

>>>>>>> 8d9d449 (bug fixes for examples)
#main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    ;
}

.min-height40vh {
    min-height: 40vh;
}

.centered {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-inner {
    background-color: #3c07f9;
    color: #fafafa;
    border-radius: 30px;
    border: none;
    padding: 5px 10px;
    margin: 10px 0px;
}

.btn-inner-disabled {
    background-color: #837d99;
    color: #fafafa;
    border-radius: 30px;
    border: none;
    padding: 5px 10px;
    margin: 10px 0px;
}

.inner-section {
    padding: 15px;
    background-color: #000000;
    margin: 15px;
    border-radius: 20px;
    min-width: 50%;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
}

.inner-header {
    font-size: 25px;
    margin: 10px;
    color: #00FFFF;
}

.inner-body {
    font-size: 15px;
}

#body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}