@import "tailwindcss";

@theme {
    --color-true-blue: #0060df;
    --color-blue-yonder: #9BB4D5;
    --color-cobalt-blue: #234d97;
    --color-rich-black: #0b0414;
}



/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}